body {
  background-color: #daeaf1;
}
form {
  padding-bottom: 30px;
}
h1 {
  margin-top: 25px;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}

h2,
h3 {
  position: relative;
  top: -140px;
  left: 250px;
}

h2 {
  font-size: 40px;
}
h3 {
  float: left;
  font-size: 25px;
  color: #8d9195;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#current-temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.current-temperature-container {
  float: left;
}
.temperature-container .current-temperature-container .units {
  position: relative;
  font-size: 27px;
  top: -27px;
}
.temperature-container .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.temperature-container .active:hover {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-app-wrapper {
  font-family: "Roboto Mono", monospace;
  padding: 40px 40px;
  margin: 20px 150px;
  border: 1px solid #daeaf1;
  box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px;
  border-radius: 0.375rem;
  background-color: rgb(229, 247, 255);
}
.weather-today {
  padding-left: 10px;
}
.day {
  font-weight: 300;
  font-size: 30px;
}
.description {
  margin-top: 50px;
}
.forecast {
  text-align: center;
  margin: 20px 15px;
}
.weather-type {
  font-size: 30px;
  margin-top: 15px;
}
.weather-emoji-smaler {
  font-size: 60px;
}
.temperature-day {
  font-size: 25px;
}
.temperature-night {
  color: #8d9195;
}
.footer {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  margin-left: 150px;
}
