body {
  background-color: #daeaf1;
}
form {
  padding-bottom: 30px;
}
h1 {
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}

h2,
h3 {
  position: relative;
  top: -140px;
  left: 250px;
}

h2 {
  font-size: 40px;
}
h3 {
  float: left;
  font-size: 25px;
  color: #8d9195;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:active {
  display: initial;
}
#celsius {
  color: #212529;
}
#celsius:hover {
  color: #8d9195;
  transition: ease-in-out;
}
#current-temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.current-temperature-container {
  float: left;
}
.temperature-container .current-temperature-container .units {
  position: relative;
  font-size: 27px;
  top: -27px;
}
.weather-app-wrapper {
  font-family: "Roboto Mono", monospace;
  padding: 50px 30px;
  margin: 20px 150px;
  border: 1px solid #adb5bd;
  border-radius: 0.375rem;
}
.weather-today {
  padding-left: 10px;
}
.day {
  font-weight: 300;
  font-size: 30px;
}
.col-2 {
  text-align: center;
}
.weather-type {
  font-size: 30px;
}
.weather-emoji {
  font-size: 70px;
}
.weather-emoji-smaler {
  font-size: 60px;
}
.temperature-day {
  font-size: 25px;
}
.temperature-night {
  color: #8d9195;
}
.footer {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  margin-left: 150px;
}
